
#h3p {
        color: rgb(223, 119, 59);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
#formulario{
    border: 1px solid grey;
}
#p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#medio{
    background: #DDDADA;
}
article{
    background: #D2CBCB;
}
#main2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}